# Директории сборки
build/
*/build/
**/build/

# CMake генерация
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Автогенерируемые файлы CMake
*.cmake

# Резервные копии и временные файлы
*~
*.swp
*.swo

# IDE
.vscode/
.idea/
*.user
*.suo
*.sln
*.vcxproj*
*.filters

# Исполняемые файлы (если они в той же директории)
*.exe
*.out
*.app

# Объектные файлы и библиотеки
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

# Логи и отладочная информация
*.log
*.dSYM/

#Картинки
images/